################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kollect_QuickZipApi/v15/Server/sqlite3
